@model HRsystem.ViewModels.EmployeesNPenalties;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "الجزاءات";
}
<div id="tableResponsive" class="tableContainer">
    <table class="table-base min-w-full border-separate border-spacing-0" id="employeesTable">
        <thead class="table-dark col-table-header sticky top-0 z-10">
            <tr>
                <th>الاسم</th>
                <th>رقم الهاتف</th>
                <th>تاريخ التعيين</th>
                <th>القسم</th>
                <th>المسمى الوظيفي</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <tbody id="employeesBody" class="mt-3">
            @foreach (var employee in Model.Employees)
            {
                <tr id="row-@employee.Id" class="snap-start">
                    <td>@employee.Name</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.HireDate.ToString("yyyy-MM-dd")</td>
                    <td>@employee.Department</td>
                    <td>@employee.JobName</td>
                    <td>
                        <button class="col-button-dark" onclick="openModal(@employee.Id)">تعديل</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div id="editModal" class="hidden fixed inset-0 bg-black/30 backdrop-blur-sm z-50 items-center justify-center">

    <div id="typePopup" class="col-modal relative p-6 rounded-2xl shadow-xl text-center">
        <button onclick="closeModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>

        <!-- Tabs Header -->
        <div class="flex border-b mb-4">
            <button id="tabAdd"
                class="flex-1 py-2 text-lg font-semibold border-b-2 border-color3 text-color3 hover:text-color3">
                اضافة جزاء
            </button>

            <button id="tabList"
                class="flex-1 py-2 text-lg font-semibold border-b-2 border-transparent text-color5 hover:text-color3">
                قائمة الجزاءات
            </button>
        </div>

        <!-- Tab Content: Add Penalty -->
        <div id="contentAdd" class="block" dir="rtl">
            <form class="space-y-4" id="addPenaltyForm">
                <input type="hidden" id="employeeId" name="employeeId" value="" />
                <input class="border p-2 w-full rounded  focus:outline-none focus:ring focus:ring-[#7B9669]"
                    placeholder="القرار" name="penalty" />
                <input class="border p-2 w-full rounded  focus:outline-none focus:ring focus:ring-[#7B9669]"
                    placeholder="تاريخ اليوم" type="date" name="dayDate" />

                <textarea class="border p-2 w-full rounded  focus:outline-none focus:ring focus:ring-[#7B9669]"
                    placeholder="سبب الجزاء" name="reason"></textarea>

                <button class="col-button-light px-4 py-2" type="button" onclick="addPenalty()">
                    حفظ
                </button>
            </form>
        </div>

        <!-- Tab Content: Penalties List -->
        <div id="contentList" class="hidden">
            <div id="contentBody" class="overflow-y-auto max-h-64">
                
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/Penalty/EditModal.js">
        var penalties = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Penalties));// from Razor
        console.log(JSON.stringify(penalties.filter(p => p.EmployeeId == 2)) + "🟠");
    </script>

}