@model IEnumerable<HRsystem.Models.HREmployee>;

@{
    ViewData["Title"] = "الموظفين";
}

<div class="flex flex-row flex-start gap-2 mb-1">

    <div class="flex flex-row justify-start">
        <button id="createBtn" class="cursor-pointer col-button-dark px-4 py-2 rounded">
            إضافة موظف
        </button>
    </div>
    <div x-data="{
        showSearch: false,
        toggleSearch() {
            this.showSearch = !this.showSearch;

            if (this.showSearch) {
                // Focus the input after it appears
                this.$nextTick(() => document.getElementById('searchInput')?.focus());
            } else {
                // Clear and show all employees when refresh is clicked
                const input = document.getElementById('searchInput');
                if (input) input.value = '';
                showAllEmployees();
            }
        }
    }" class="flex items-center gap-2">
        <!-- Search / Refresh Button -->
        <button @@click="toggleSearch"
            class="p-1 rounded bg-[#404E3B] text-white hover:bg-[#A7B89A] transition-all duration-300">
            <i :class="showSearch ? 'bi-arrow-clockwise' : 'bi-search'" class="text-lg"></i>
        </button>

        <!-- Search input -->
        <template x-if="showSearch">
            <div class="flex items-center gap-2 animate-fade-in">
                <input id="searchInput" type="text" placeholder="ابحث عن موظف..." oninput="searchForEmployee()"
                    class="border border-gray-300 rounded-md px-5 py-2 focus:ring focus:ring-[#BAC8B1] focus:outline-none text-sm" />
            </div>
        </template>
    </div>

</div>


<div id="tableResponsive" class="tableContainer ">
    <table class="table-base min-w-full border-separate border-spacing-0" id="employeesTable">
        <thead class="table-dark listEmpTableThead col-table-header sticky top-0 z-10">
            <tr>
                <th>الاسم</th>
                <th>الرقم القومي</th>
                <th>رقم الهاتف</th>
                <th>الحالة الاجتماعية</th>
                <th>الديانة</th>
                <th>تاريخ الميلاد</th>
                <th>رقم التأمين</th>
                <th>تاريخ التعيين</th>
                <th>تاريخ الانتهاء</th>
                <th>القسم</th>
                <th>المسمى الوظيفي</th>
                <th>نوع العقد</th>
                <th>الشفت</th>
                <th>تقييم</th>
                <th>تعديل بيانات</th>
            </tr>
        </thead>
        <tbody id="employeesBody" class="listEmpTableTbody mt-3">
            @foreach (var employee in Model)
            {
                <tr id="row-@employee.Id" class="snap-start">
                    <td>@employee.Name</td>
                    <td>@employee.NationalId</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.MarriageStatus</td>
                    <td>@employee.Religion</td>
                    <td>@employee.DateOfBirth.ToString("yyyy-MM-dd")</td>
                    <td>@employee.InsuranceNumber</td>
                    <td>@employee.HireDate.ToString("yyyy-MM-dd")</td>
                    <td><a class="underline cursor-pointer"
                            onclick="openLeaveReasonModal('@employee.LeaveReason', '@employee.EndDate')">@employee.EndDate?.ToString("yyyy-MM-dd")</a>
                    </td>
                    <td>@employee.Department</td>
                    <td>@employee.JobName</td>
                    <td>@employee.ContractType</td>
                    <td>
                        <!-- SHIFT -->
                        <button class="col-button-dark m-1 rounded" onclick="openShiftModal('@employee.Name', @employee.Id)"
                            index="@employee.Id">
                            الشفت
                        </button>
                    </td>
                    <td>
                        <!-- Button to open modal -->
                        <button class="col-button-light m-1 rounded" onclick="openRateModal('@employee.Name', @employee.Id)"
                            index="@employee.Id">
                            تقييم
                        </button>
                    </td>
                    <td>
                        <!-- Button to open modal -->
                        <button class="openModal col-button-dark m-1 rounded" index="@employee.Id">
                            تعديل
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


<!-- LEAVE REASON -->
<div id="LeaveReasonModal" class="hidden fixed inset-0 bg-black/30 backdrop-blur-sm z-50
              items-center justify-center">

    <div id="" class="relative col-modal !w-1/4 !h-1/4 p-6 rounded-2xl shadow-xl text-center">
        <button onclick="closeLeaveReasonModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>

        <h3 id="LeaveReasonDateText" class="text-xl font-bold mb-3"></h3>
        <h3 id="reasonLabel" class="text-lg font-bold mb-3">سبب انتهاء العقد</h3>
        <h3 id="LeaveReasonModalDescription" class="text-lg font-bold text-color5 mb-3"></h3>
    </div>
</div>

<!-- SHIFT -->
<div id="shiftModal" class="hidden fixed inset-0 bg-black/30 backdrop-blur-sm z-50
              items-center justify-center">

    <div id="" class="relative col-modal !w-1/2 !h-1/3 p-6 rounded-2xl shadow-xl text-center">
        <button onclick="closeShiftModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>
        <h3 id="shiftModalTitle" class="text-lg font-bold mb-3"></h3>
        <div id="currentShift"
            class="shadow-lg p-2 m-1 text-[16px] flex flex-col items-center font-bold text-color5 transition duration-300 delay-300 ease-in-out">
            <span id="noShift" class="hidden">لا يوجد شفت لهذا الموظف</span>
            <div id="thereIsShift" class="hidden p-2 w-full">
                <div id="hoursShiftDiv" class="hidden">
                    عدد الساعات المطلوبة: <span id="hoursShiftNumber">8</span> ساعات
                </div>
                <div id="fixedShiftDiv" class="hidden">
                    الشفت يبدأ من <span id="shiftStartTime">7:30 ص</span> الي <span id="shiftEndTime">4:30 م</span>
                </div>
                <div id="variableShiftDiv" class="hidden">
                    الشفت متغير
                </div>
            </div>
            <button id="editShiftButton" class="col-button-dark my-2">تعديل</button>
        </div>
        <div id="editShift"
            class="hidden relative flex-col items-center shadow-lg rounded-md p-2 m-1 transition duration-300 delay-300 ease-in-out">
            <button id="switchBtn" class="absolute top-2 left-2">
                <i class="bi bi-x-square-fill"></i>
            </button>
            <div class="flex gap-2 flex-row justify-center items-center">
                <button id="variableShift" class="rounded-lg px-4 text-white text-center bg-color5">متغير</button>
                <button id="hoursBtn" class="rounded-lg px-4 text-white text-center bg-color5">عدد ساعات</button>
                <button id="fixedBtn" class="rounded-lg px-4 text-white text-center bg-color5">شفت ثابت</button>
            </div>
            <div id="newVariableShift" class="hidden items-center gap-2 justify-center w-full my-2">
                <h2 class="font-light !text-color5 mb-2">الشفت متغير ولا يحتاج لتحديد وقت أو عدد ساعات</h2>
                <button id="saveVariableShiftBtn" class="col-button-light">حفظ💾</button>
            </div>
            <div id="newHoursShift" class="hidden flex-row items-center gap-2 justify-center w-full my-2">
                <label for="hours">عدد الساعات</label>
                <input type="number" id="hours"
                    class="w-1/4 border-2 border-color2 rounded p-2 focus:outline-none focus:ring-2 focus:ring-[#7B9669] appearance-none">
                <button id="saveHoursShiftBtn" class="col-button-light">حفظ💾</button>
            </div>
            <div id="newFixedShift" class="hidden p-2 w-full gap-4 flex-row justify-center items-center my-2">
                <div class="flex flex-row items-center gap-2">
                    <label for="startTime" class="block mb-2">بداية الشفت</label>
                    <input type="time" id="startTime" class="rounded p-2 border-2 border-[#7B9669] 
         focus:outline-none focus:ring-2 focus:ring-[#7B9669] appearance-none" />
                </div>
                <div class="flex flex-row items-center gap-2">
                    <label for="endTime" class="block mb-2">نهاية الشفت</label>
                    <input type="time" id="endTime" disabled class="rounded p-2 border-2 border-[#7B9669] 
         focus:outline-none focus:ring-2 focus:ring-[#7B9669] appearance-none" />
                    <button id="saveFixedShiftBtn" class="col-button-light">حفظ💾</button>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Rate Modal -->
<div id="rateModal" class="hidden fixed inset-0 bg-black/30 backdrop-blur-sm z-50
              items-center justify-center">

    <div id="typePopup" class="relative !w-1/4 !h-1/2 col-modal p-6 rounded-2xl shadow-xl  text-center">
        <button onclick="closeRateModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>
        <h3 id="rateModalTitle" class="text-lg font-bold mb-3"></h3>
        <div class="flex flex-row gap-2 justify-center items-center rounded-lg  border-color3">
            <label for="monthPicker">اختر الشهر</label>
            <input type="month" id="monthPicker" class="bg-color1 border-2 p-2 border-color3 rounded-lg">
        </div>
        <div id="rateDiv" class="hidden justify-center p-3 gap-2 mt-3 shadow-lg rounded-2xl">
            <input type="hidden" id="rateEmployeeId">
            <input type="hidden" id="rateValueHidden">
            <input type="hidden" id="rateMonth">
            <input type="hidden" id="rateYear">


            <div id="ratingResult" class="hidden flex-col justify-center">
                <div class="flex justify-center gap-3 mb-1 text-[30px]">
                    <span id="ratingResultText"></span>
                    <span id="ratingResultValue"></span>
                </div>

                <div id="ratingResultStars" class="flex w-full justify-center">
                    <div class="flex gap-1 text-[50px]">
                        <button>☆</button>
                        <button>☆</button>
                        <button>☆</button>
                        <button>☆</button>
                        <button>☆</button>
                    </div>
                </div>
            </div>
            <div class="hidden flex-col  justify-center rating" data-rating="0" id="ratingAdder">
                <div class="flex justify-center gap-3 mb-1 text-[30px]">
                    <span id="ratingText">اختر تقييم</span>
                    <span id="ratingValue">— / 5</span>
                </div>



                <div class="flex justify-center gap-1 text-[50px]">
                    <button class="star" onclick="setRating(1)">☆</button>
                    <button class="star" onclick="setRating(2)">☆</button>
                    <button class="star" onclick="setRating(3)">☆</button>
                    <button class="star" onclick="setRating(4)">☆</button>
                    <button class="star" onclick="setRating(5)">☆</button>
                </div>
                <button id="saveRateBtn" class="col-button-dark self-center w-fit">حفظ</button>
            </div>


        </div>

    </div>
</div>

<!-- Modal Background -->
<div id="createModal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50
            transition-all duration-300 ease-out opacity-0 scale-95">
    <!-- Modal Box -->
    <div class="col-modal w-full md:w-11/12 h-full md:h-[90%] p-6 relative" dir="rtl">
        <button onclick="closeModalCreate()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>
        @* 
        <!-- Tabs -->
        <div class="flex border-b mb-4">
           
        </div> *@

        <h2 class="text-2xl font-semibold mb-4 text-blue-700 text-center">إضافة موظف جديد</h2>
        <form id="employeeFormCreate" method="post"
            class="grid grid-cols-1 md:grid-cols-3 gap-x-4 gap-y-1 w-full h-full">

            <input type="hidden" name="Id" />

            <div>
                <label class="block text-sm font-medium text-gray-700">الاسم</label>
                <input type="text" name="Name"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">الرقم القومي</label>
                <input type="text" name="NationalId"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">رقم الهاتف</label>
                <input type="tel" name="PhoneNumber"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">الحالة الاجتماعية</label>
                <input type="text" name="MarriageStatus"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">الديانة</label>
                <input type="text" name="Religion"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">تاريخ الميلاد</label>
                <input type="date" name="DateOfBirth"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">رقم التأمين</label>
                <input type="text" name="InsuranceNumber"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">تاريخ التعيين</label>
                <input type="date" name="HireDate"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">تاريخ الانتهاء</label>
                <input type="date" name="EndDate"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">القسم</label>
                <input type="text" name="Department"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">المسمى الوظيفي</label>
                <input type="text" name="JobName"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">نوع العقد</label>
                <input type="text" name="ContractType"
                    class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div class="mt-0 bg-gray-200 col-span-3 rounded-2xl p-2">
                <div class="upload-container w-full">
                    <label for="fileUploadCreate" class="upload-label">📤 رفع ملف جديد</label>
                    <input type="file" id="fileUploadCreate" class="upload-input" name="imageFiles" multiple />
                </div>

            </div>
            <!-- Submit Button -->
            <div class="col-span-3 text-center m-4">
                <button type="submit" class="px-8 py-2 rounded col-button-dark">
                    💾 حفظ
                </button>
                @* <button class="bg-gray-600 text-white px-8 py-2 rounded hover:bg-gray-300 transition">
                            الملفات
                        </button> *@

            </div>

        </form>



    </div>
</div>


<!-- Modal Background -->
<div id="editModal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50
            transition-all duration-300 ease-out opacity-0 scale-95">
    <!-- Modal Box -->
    <div class="col-modal w-full md:w-11/12 h-full md:h-[90%] p-6 relative overflow-y-auto" dir="rtl">
        <button onclick="closeModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>

        <!-- Tabs -->
        <div class="flex border-b mb-4">
            <button id="tab-info"
                class="flex-1 py-2 text-center font-semibold border-b-2 border-[#404E3B] text-[#404E3B] hover:text-[#404E3B]"
                onclick="switchTab('info')">
                🧍 بيانات الموظف
            </button>
            <button id="tab-files"
                class="flex-1 py-2 text-center font-semibold border-b-2 text-[#7B9669] hover:text-[#404E3B]"
                onclick="switchTab('files')">
                📂 ملفات الموظف
            </button>
        </div>
        <div id="tab-content-info">
            <h2 class="text-2xl font-semibold mb-4 text-blue-700 text-center">تعديل بيانات الموظف</h2>
            <form id="employeeForm" method="post" class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full h-full">

                <input type="hidden" name="Id" />
                <div>
                    <label class="block text-sm font-medium text-gray-700">الاسم</label>
                    <input type="text" name="Name"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">الرقم القومي</label>
                    <input type="text" name="NationalId"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">رقم الهاتف</label>
                    <input type="tel" name="PhoneNumber"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">رقم البصمة</label>
                    <input type="number" name="BasmaId"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">الحالة الاجتماعية</label>
                    <input type="text" name="MarriageStatus"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">الديانة</label>
                    <input type="text" name="Religion"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">تاريخ الميلاد</label>
                    <input type="date" name="DateOfBirth"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">رقم التأمين</label>
                    <input type="text" name="InsuranceNumber"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">تاريخ التعيين</label>
                    <input type="date" name="HireDate"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">تاريخ الانتهاء</label>
                    <input type="date" name="EndDate"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">سبب الانتهاء</label>
                    <input type="text" name="LeaveReason"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">القسم</label>
                    <input type="text" name="Department"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">المسمى الوظيفي</label>
                    <input type="text" name="JobName"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">نوع العقد</label>
                    <input type="text" name="ContractType"
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <!-- Submit Button -->
                <div class="col-span-3 text-center mt-4">
                    <button type="submit" class=" px-8 py-2 rounded col-button-dark">
                        💾 حفظ التعديلات
                    </button>
                    @* <button class="bg-gray-600 text-white px-8 py-2 rounded hover:bg-gray-300 transition">
                            الملفات
                        </button> *@

                </div>

            </form>
        </div>
        <div id="tab-content-files" class="hidden">
            <!-- Employee files -->
            <div class="space-y-3">
                <h3 class="font-semibold text-gray-700">📎 ملفات الموظف</h3>
                <button class="col-button-light" onclick="downloadAllFiles()">تنزيل الملفات مجمعة</button>
                <ul class="flex flex-row flex-wrap gap-10">

                </ul>
                <div class="mt-4 bg-gray-200 w-full rounded-2xl p-2">
                    <div class="upload-container w-full">
                        <form id="uploadFileForm" enctype="multipart/form-data">
                            <input type="hidden" name="EmployeeId" />
                            <label for="fileUpload" class="upload-label">📤 رفع ملف جديد</label>
                            <input type="file" id="fileUpload" class="upload-input" name="imageFiles" multiple />
                            <button type="button" id="submitBtn" class="col-button-dark px-5">رفع</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- ✅ The lightbox -->
<div id="imageLightbox"
    class="fixed inset-0 w-full h-full bg-black bg-opacity-50 hidden items-center justify-center z-50">
    <img id="lightboxImage"
        class="max-w-3xl max-h-[90vh] rounded-2xl shadow-2xl transition-transform duration-300 scale-95" />
</div>

@section Scripts {

    <!-- Modal Script -->
    <script src="~/js/ListEmployees/General.js"></script>
    <script src="~/js/ListEmployees/Create.js"></script>
    <script src="~/js/ListEmployees/Edit.js"></script>
    <script src="~/js/ListEmployees/Shift.js"></script>
    <script src="~/js/ListEmployees/Rate.js"></script>




    <script>
        var employees = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));// from Razor
        const observer = new MutationObserver(mutations => {
            mutations.forEach(m => {
                if (m.attributeName === "class") {
                    console.log(
                        "⚠️ Modal class changed:",
                        modal.className,
                        "at",
                        new Date().toLocaleTimeString(),
                        new Error().stack
                    );
                }
            });
        });

        observer.observe(modal, { attributes: true });
    </script>

}