@model HRsystem.ViewModels.ListEmployeesViewModel;

@{
    ViewData["Title"] = "الموظفين";
}
<h2 class="fs-3 text-center p-4 m-2 text-color3 shadow-lg">إدارة الموظفين</h2>

<div class="flex md:flex-row flex-col justify-center gap-2 mb-1">

    <div class="flex md:flex-row flex-col gap-2 justify-center ">
        <button id="createBtn" class="cursor-pointer mx-1 col-button-dark px-4 py-2 rounded">
            إضافة موظف
        </button>
        <a href="/admin/dashboard/departments"
               class="cursor-pointer flex items-center mx-1 col-button-dark px-4 py-2 rounded">
            الأقسام
        </a>
        <select id="departmentFilter" class="mx-1 bg-white px-4 py-2 rounded">
            <option value="">تصفية حسب القسم</option>
            @foreach (var dept in Model.Departments)
            {
                <option value="@dept.Id">@dept.Name - (@dept.Code)</option>
            }
        </select>
        <button class="col-button-dark text-[11px] rounded" onclick="openShiftModal()">
            الشفت
        </button>

    </div>
    <div x-data="{
        showSearch: false,
        toggleSearch() {
        this.showSearch = !this.showSearch;

        if (this.showSearch) {
        // Focus the input after it appears
        this.$nextTick(() => document.getElementById('searchInput')?.focus());
        } else {
        // Clear and show all employees when refresh is clicked
        const input = document.getElementById('searchInput');
        if (input) input.value = '';
        showAllEmployees();
        }
        }
        }" class="flex items-center gap-2">
        <!-- Search / Refresh Button -->
        <button @@click="toggleSearch" class="p-1 col-button-dark transition-all duration-300">
            <i :class="showSearch ? 'bi-arrow-clockwise' : 'bi-search'" class="text-lg"></i>
        </button>

        <!-- Search input -->
        <template x-if="showSearch">
            <div class="flex items-center gap-2">
                <input id="searchInput" type="text" placeholder="ابحث عن موظف..." oninput="searchForEmployee()"
                       class="border border-gray-300 rounded-md px-5 py-1 focus:ring focus:ring-[#BAC8B1] focus:outline-none text-sm" />
            </div>
        </template>
    </div>

</div>


<div id="tableResponsive" class="tableContainer ">
    @if (Model.Employees.Count == 0)
    {
        <div class="shadow-lg flex justify-center items-center flex-col p-3">
            <div id="noDataDiv" class="text-center  p-4 m-2 text-[40px]">لا يوجد موظفين</div>
            <img src="~/images/noEmp2.png" style="width:200px;height:200px" />
        </div>
    }
    else
    {
        <table class=" table-base min-w-max border-separate border-spacing-0" id="employeesTable">
            <thead class="table-dark listEmpTableThead col-table-header sticky top-0 z-10">
                <tr>
                    <th>الاسم</th>
                    <th>الرقم القومي</th>
                    <th>رقم الهاتف</th>
                    <th>الحالة الاجتماعية</th>
                    <th>الديانة</th>
                    <th>تاريخ الميلاد</th>
                    <th>رقم التأمين</th>
                    <th>تاريخ التعيين</th>
                    <th>تاريخ الانتهاء</th>
                    <th>القسم</th>
                    <th>المسمى الوظيفي</th>
                    <th>نوع العقد</th>
                    @* <th>الشفت</th> *@
                    <th>تقييم</th>
                    <th>تعديل بيانات</th>
                </tr>
            </thead>
            <tbody id="employeesBody" class="listEmpTableTbody mt-3">
                @foreach (var employee in Model.Employees)
                {
                    <tr id="row-@employee.Id" class="snap-start" data-dept-id="@employee.HRDepartmentId">
                        <td>@employee.Name</td>
                        <td>@employee.NationalId</td>
                        <td>@employee.PhoneNumber</td>
                        <td>@employee.MarriageStatus</td>
                        <td>@employee.Religion</td>
                        <td>@employee.DateOfBirth.ToString("yyyy-MM-dd")</td>
                        <td>@employee.InsuranceNumber</td>
                        <td>@employee.HireDate.ToString("yyyy-MM-dd")</td>
                        <td><a class="underline cursor-pointer"
                                   onclick="openLeaveReasonModal('@employee.LeaveReason', '@employee.EndDate')">@employee.EndDate?.ToString("yyyy-MM-dd")</a>
                        </td>
                        <td>
                            @employee.Department
                        </td>
                        <td>@employee.JobName</td>
                        <td>@employee.ContractType</td>
                        @* <td>
                            <!-- SHIFT -->
                            <button class="col-button-dark text-[11px] rounded"
                                    onclick="openShiftModal('@employee.Name', @employee.Id)" index="@employee.Id">
                                الشفت
                            </button>
                        </td> *@
                        <td>
                            <!-- Button to open modal -->
                            <button class="col-button-light  text-[11px] rounded"
                                    onclick="openRateModal('@employee.Name', @employee.Id)" index="@employee.Id">
                                تقييم
                            </button>
                        </td>
                        <td>
                            <!-- Button to open modal -->
                            <button class="openModal col-button-dark text-[11px] rounded" index="@employee.Id">
                                تعديل
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }

</div>


<!-- LEAVE REASON -->
<div id="LeaveReasonModal" class="hidden fixed inset-0 bg-black/30 z-50
    items-center justify-center">

    <div id="" class="relative col-modal !md:w-1/4 !md:h-1/4  p-6 rounded-2xl shadow-xl text-center">
        <button onclick="closeLeaveReasonModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>

        <h3 id="LeaveReasonDateText" class="text-xl font-bold mb-3"></h3>
        <h3 id="reasonLabel" class="text-lg font-bold mb-3">سبب انتهاء العقد</h3>
        <h3 id="LeaveReasonModalDescription" class="text-lg font-bold text-color5 mb-3"></h3>
    </div>
</div>

<!-- SHIFT -->
<div id="shiftModal" class="flex fixed inset-0 bg-black/30 z-50
    items-center justify-center">

    <div id="" class="relative col-modal !md:w-1/2 !md:h-1/3  p-6 rounded-2xl shadow-xl text-center overflow-y-hidden">
        <button onclick="closeShiftModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>
        <h3 id="shiftModalTitle" class="text-lg font-bold mb-3"></h3>

        <div id="shiftContent" class="flex flex-col justify-start items-start gap-4 h-full w-full mt-2">
            <div class="flex h-1/3 flex-row p-2 gap-2 justify-around items-center w-full">
                <div id="shiftDateSection"
                     class="flex flex-col justify-center items-center p-2 shadow-md gap-2 border-2 border-color3 h-full w-1/2">
                    <h2 class="shadow-lg p-2 rounded-lg w-full">اختر تاريخ الشفت</h2>
                    <div class="flex flex-row justify-center gap-2 items-center">
                        <input type="date" id="shiftDateTime" placeholder="يوم البداية"
                               class="bg-color1 border-2 w-1/2 text-center border-color3 rounded-lg">
                        <input type="date" id="shift2DateTime" placeholder="يوم النهاية"
                               class="bg-color1 border-2 w-1/2 text-center border-color3 rounded-lg">
                    </div>
                    <button id="searchShift" class="col-button-dark mt-3 w-full">بحث</button>
                </div>
                <div id="shiftDetailsSection" class="flex gap-2 flex-col justify-center items-center p-2 border-color3 border-2 w-1/2 h-full rounded-lg shadow-md">
                    <h2 class="shadow-lg p-2 rounded-lg w-full">إضافة شفت للقائمة</h2>
                    <div class="flex gap-2 flex-row p-2 rounded-lg shadow-sm">
                        <input dir="ltr" type="time" id="shiftStartTime" placeholder="وقت البداية"
                               class="bg-color1 border-2 text-center border-color3 rounded-lg">
                        <input dir="ltr" type="time" id="shiftEndTime" placeholder="وقت النهاية"
                               class="bg-color1 border-2 text-center border-color3 rounded-lg">
                        <select id="shiftType" class="bg-color1 border-2 text-center border-color3 rounded-lg">
                            <option value="">نوع الشفت</option>
                            <option value="">متغير</option>
                            <option value="">ثابت</option>
                            <option value=" ">عدد ساعات</option>
                        </select>
                        <button class="col-button-dark"><i class="bi bi-plus-circle"></i></button>
                    </div>
                </div>
            </div>
            <div id="employeesTable"
                 class="w-full border-2 overflow-x-hidden border-color3 p-2 overflow-y-auto h-2/3 rounded-lg shadow-md">
                <h2 class="font-bold m-2">قم باختيار الشيفت لكل الموظفين</h2>
                <div id="empCard" class="shadow-lg flex flex-row gap-2 justify-center items-center">
                   <h6 class="font-bold text-[14px] p-2 m-1 shadow-md border-2 border-color5">
                        إسماعيل سلامة أبو السعود صالح
                   </h6>
                   <div class="dayCard flex flex-col shadow-md p-2 m-1 border-color5 border-2">
                        <div class="font-bold border-b-2 border-color3 mb-2">3 ابريل </div>
                        <div class="">
                            <select dir="ltr" name="" id="" class="rounded-md ">
                                <option value="1">
                                    9:00 AM to 5:00 PM 
                                </option>
                                <option value="2">
                                    8 hours
                                </option>
                            </select>
                        </div>
                   </div>
                   <div class="dayCard flex flex-col shadow-md p-2 m-1 border-color5 border-2">
                        <div class="font-bold border-b-2 border-color3 mb-2">4 ابريل </div>
                        <div class="">
                            <select dir="ltr" name="" id="" class="rounded-md ">
                                <option value="1">
                                    9:00 AM to 5:00 PM 
                                </option>
                                <option value="2">
                                    8 hours
                                </option>
                            </select>
                        </div>
                   </div>
                   <div class="dayCard flex flex-col shadow-md p-2 m-1 border-color5 border-2">
                        <div class="font-bold border-b-2 border-color3 mb-2">5 ابريل </div>
                        <div class="">
                            <select dir="ltr" name="" id="" class="rounded-md ">
                                <option value="1">
                                    9:00 AM to 5:00 PM 
                                </option>
                                <option value="2">
                                    8 hours
                                </option>
                            </select>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Rate Modal -->
<div id="rateModal" class="hidden fixed inset-0 bg-black/30  z-50
    items-center justify-center">

    <div id="typePopup" class="relative !md:w-1/4 !md:h-1/2 col-modal p-6 rounded-2xl shadow-xl  text-center">
        <button onclick="closeRateModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>
        <h3 id="rateModalTitle" class="text-lg font-bold mb-3"></h3>
        <div class="flex flex-row gap-2 justify-center items-center rounded-lg  border-color3">
            <label for="monthPicker">اختر الشهر</label>
            <input type="month" id="monthPicker" class="bg-color1 border-2 p-2 border-color3 rounded-lg">
        </div>
        <div id="rateDiv" class="hidden justify-center p-3 gap-2 mt-3 shadow-lg rounded-2xl">
            <input type="hidden" id="rateEmployeeId">
            <input type="hidden" id="rateValueHidden">
            <input type="hidden" id="rateMonth">
            <input type="hidden" id="rateYear">


            <div id="ratingResult" class="hidden flex-col justify-center">
                <div class="flex justify-center gap-3 mb-1 text-[30px]">
                    <span id="ratingResultText"></span>
                    <span id="ratingResultValue"></span>
                </div>

                <div id="ratingResultStars" class="flex w-full justify-center">
                    <div class="flex gap-1 text-[50px]">
                        <button>☆</button>
                        <button>☆</button>
                        <button>☆</button>
                        <button>☆</button>
                        <button>☆</button>
                    </div>
                </div>
            </div>
            <div class="hidden flex-col  justify-center rating" data-rating="0" id="ratingAdder">
                <div class="flex justify-center gap-3 mb-1 text-[30px]">
                    <span id="ratingText">اختر تقييم</span>
                    <span id="ratingValue">— / 5</span>
                </div>



                <div class="flex justify-center gap-1 text-[50px]">
                    <button class="star" onclick="setRating(1)">☆</button>
                    <button class="star" onclick="setRating(2)">☆</button>
                    <button class="star" onclick="setRating(3)">☆</button>
                    <button class="star" onclick="setRating(4)">☆</button>
                    <button class="star" onclick="setRating(5)">☆</button>
                </div>
                <button id="saveRateBtn" class="col-button-dark self-center w-fit">حفظ</button>
            </div>


        </div>

    </div>
</div>

<!-- Modal Background -->
<div id="createModal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50
    transition-all duration-100  ">
    <!-- Modal Box -->
    <div class="col-modal w-full md:w-11/12 h-full md:h-[90%] p-6 relative" dir="rtl">
        <button onclick="closeModalCreate()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>
        @*
        <!-- Tabs -->
        <div class="flex border-b mb-4">
           
        </div> *@

        <h2 class="text-2xl font-semibold mb-4 text-blue-700 text-center">إضافة موظف جديد</h2>
        <form id="employeeFormCreate" method="post" class="grid grid-cols-1 md:grid-cols-3 gap-x-4 gap-y-1 w-full p-3">

            <input type="hidden" name="Id" />

            <div>
                <label class="block text-sm font-medium text-gray-700">الاسم</label>
                <input type="text" name="Name"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">الرقم القومي</label>
                <input type="text" name="NationalId"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">رقم الهاتف</label>
                <input type="tel" name="PhoneNumber"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700">العنوان</label>
                <input type="text" name="Address"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700">رقم البصمة</label>
                <input type="number" name="BasmaId"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">الحالة الاجتماعية</label>
                <input type="text" name="MarriageStatus"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">الديانة</label>
                <input type="text" name="Religion"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">تاريخ الميلاد</label>
                <input type="date" name="DateOfBirth"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">رقم التأمين</label>
                <input type="text" name="InsuranceNumber"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">تاريخ التعيين</label>
                <input type="date" name="HireDate"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">تاريخ الانتهاء</label>
                <input type="date" name="EndDate"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">القسم</label>
                <select name="HRDepartmentId" id=""
                        class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]">
                    <option value="">بدون قسم</option>
                    @foreach (var dept in Model.Departments)
                    {
                        <option value="@dept.Id">@dept.Name - (@dept.Code)</option>
                    }
                </select>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">المسمى الوظيفي</label>
                <input type="text" name="JobName"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">نوع العقد</label>
                <input type="text" name="ContractType"
                       class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
            </div>

            <div class="mt-0 bg-gray-200 md:col-span-3 rounded-2xl p-2">
                <div class="upload-container w-full">
                    <label for="fileUploadCreate" class="upload-label">📤 رفع ملف جديد</label>
                    <input type="file" id="fileUploadCreate" class="upload-input" name="imageFiles" multiple />
                </div>

            </div>
            <!-- Submit Button -->
            <div class="md:col-span-3 text-center m-4">
                <button type="submit" class="px-8 py-2 rounded col-button-dark">
                    💾 حفظ
                </button>
               
            </div>

        </form>



    </div>
</div>


<!-- Modal Background -->
<div id="editModal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50
    transition-all duration-100  ">
    <!-- Modal Box -->
    <div class="col-modal w-full md:w-11/12 h-full md:h-[90%] p-6 relative overflow-y-auto" dir="rtl">
        <button onclick="closeModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>

        <!-- Tabs -->
        <div class="flex border-b mb-4">
            <button id="tab-info"
                    class="flex-1 py-2 text-center font-semibold border-b-2 border-[#404E3B] text-[#404E3B] hover:text-[#404E3B]"
                    onclick="switchTab('info')">
                🧍 بيانات الموظف
            </button>
            <button id="tab-files"
                    class="flex-1 py-2 text-center font-semibold border-b-2 text-[#7B9669] hover:text-[#404E3B]"
                    onclick="switchTab('files')">
                📂 ملفات الموظف
            </button>
        </div>
        <div id="tab-content-info">
            <h2 class="text-2xl font-semibold mb-4 text-blue-700 text-center">تعديل بيانات الموظف</h2>
            <form id="employeeForm" method="post" class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full h-full">

                <input type="hidden" name="Id" />
                <div>
                    <label class="block text-sm font-medium text-gray-700">الاسم</label>
                    <input type="text" name="Name"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">الرقم القومي</label>
                    <input type="text" name="NationalId"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">رقم الهاتف</label>
                    <input type="tel" name="PhoneNumber"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">العنوان</label>
                    <input type="text" name="Address"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">رقم البصمة</label>
                    <input type="number" name="BasmaId"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">الحالة الاجتماعية</label>
                    <input type="text" name="MarriageStatus"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">الديانة</label>
                    <input type="text" name="Religion"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">تاريخ الميلاد</label>
                    <input type="date" name="DateOfBirth"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">رقم التأمين</label>
                    <input type="text" name="InsuranceNumber"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">تاريخ التعيين</label>
                    <input type="date" name="HireDate"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">تاريخ الانتهاء</label>
                    <input type="date" name="EndDate"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">سبب الانتهاء</label>
                    <input type="text" name="LeaveReason"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">القسم</label>
                    <select name="HRDepartmentId" id=""
                            class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]">
                        <option value="">بدون قسم</option>
                        @foreach (var dept in Model.Departments)
                        {
                            <option value="@dept.Id">@dept.Name - (@dept.Code)</option>
                        }
                    </select>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">المسمى الوظيفي</label>
                    <input type="text" name="JobName"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">نوع العقد</label>
                    <input type="text" name="ContractType"
                           class="mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" />
                </div>

                <!-- Submit Button -->
                <div class="md:col-span-3 text-center mt-4">
                    <button type="submit" class=" px-8 py-2 rounded col-button-dark">
                        💾 حفظ التعديلات
                    </button>
                    @* <button class="bg-gray-600 text-white px-8 py-2 rounded hover:bg-gray-300 transition">
                            الملفات
                        </button> *@

                </div>

            </form>
        </div>
        <div id="tab-content-files" class="hidden">
            <!-- Employee files -->
            <div class="space-y-3">
                <h3 class="font-semibold text-gray-700">📎 ملفات الموظف</h3>
                <button class="col-button-light" onclick="downloadAllFiles()">تنزيل الملفات مجمعة</button>
                <ul class="flex flex-row flex-wrap gap-10">

                </ul>
                <div class="mt-4 bg-gray-200 w-full rounded-2xl p-2">
                    <div class="upload-container w-full">
                        <form id="uploadFileForm" enctype="multipart/form-data">
                            <input type="hidden" name="EmployeeId" />
                            <label for="fileUpload" class="upload-label">📤 رفع ملف جديد</label>
                            <input type="file" id="fileUpload" class="upload-input" name="imageFiles" multiple />
                            <button type="button" id="submitBtn" class="col-button-dark px-5">رفع</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- ✅ The lightbox -->
<div id="imageLightbox"
     class="fixed inset-0 w-full h-full bg-black bg-opacity-50 hidden items-center justify-center z-50">
    <img id="lightboxImage"
         class="max-w-3xl max-h-[90vh] rounded-2xl shadow-2xl transition-transform duration-300 scale-95" />
</div>

@section Scripts {

    <!-- Modal Script -->
    <script src="~/js/ListEmployees/General.js"></script>
    <script src="~/js/ListEmployees/Create.js"></script>
    <script src="~/js/ListEmployees/Edit.js"></script>
    <script src="~/js/ListEmployees/Shift.js"></script>
    <script src="~/js/ListEmployees/Rate.js"></script>




    <script>
        var employees = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Employees));// from Razor
        const observer = new MutationObserver(mutations => {
            mutations.forEach(m => {
                if (m.attributeName === "class") {
                    console.log(
                        "⚠️ Modal class changed:",
                        modal.className,
                        "at",
                        new Date().toLocaleTimeString(),
                        new Error().stack
                    );
                }
            });
        });

        observer.observe(modal, { attributes: true });
    </script>

}